@import './reset.css';

* { transition: all 0.2s ease-in-out; }

body { 
  color: floralwhite;
  background-color: rebeccapurple; 
}

.hero-banner {
  height: 100dvh;
  display: grid;
  place-items: center;
  padding: 90px;
  text-align: center;
}

/* Dialog */

dialog {
  width: 310px;
  padding: 30px;
  border-radius: 5px;
  margin: auto;
  outline: none;
  border-style: none;
  animation: anim 0.25s linear;
  text-align: center;
  p { margin-top: 10px; }
  input {
    margin-top: 10px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid rgb(117, 117, 117);
    background-color: grey;
    color: floralwhite;
  }
  input:hover {
    background-color: black;
    border-color: black;
    color: lightblue;
  }
  input + input { margin-left: 20px; }
}

dialog::backdrop {
  background-color: midnightblue;
  backdrop-filter: saturate(180%) blur(20px);
}

@keyframes anim {
  from {
    opacity: 0;
    translate: 0 -8px;
  } to {
    opacity: 1;
    translate: 0 0;
  }
}

#settings-modal {
  width: 500px;
}

#settings-accept-btn { margin-top: 30px; }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.setting {
  padding: 10px;
  margin-top: 16px;
  height: 30px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}